[submodule "R/SpaDES/m/LBMR"]
	path = R/SpaDES/m/LBMR
	url = https://github.com/CeresBarros/LBMR.git
[submodule "R/SpaDES/m/Boreal_LBMRDataPrep"]
	path = R/SpaDES/m/Boreal_LBMRDataPrep
	url = https://github.com/CeresBarros/Boreal_LBMRDataPrep.git
[submodule "R/SpaDES/m/BiomassSpeciesData"]
	path = R/SpaDES/m/BiomassSpeciesData
	url = https://github.com/CeresBarros/Biomass_speciesData.git
[submodule "R/SpaDES/m/LandR_BiomassFuels"]
	path = R/SpaDES/m/LandR_BiomassFuels
	url = https://github.com/CeresBarros/LandR_BiomassFuels.git
[submodule "R/SpaDES/m/LandR_BiomassGMCC"]
	path = R/SpaDES/m/LandR_BiomassGMCC
	url = https://github.com/CeresBarros/LandR_BiomassGMCC.git
[submodule "R/SpaDES/m/LandR_BiomassGMOrig"]
	path = R/SpaDES/m/LandR_BiomassGMOrig
	url = https://github.com/CeresBarros/LandR_BiomassGMOrig.git
