.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.Rprofile
.Renviron
.posit/

*.pdf
*.RData
figs/*
packages/*
packages_docker/*
*.rds
*.dat
*.Rout

GDriveTokens

!packages/pkgSnapshot*.txt
!packages_docker/pkgSnapshot*.txt
