.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth

*.pdf
*.RData
figs/*
outputs/*
packages/*
packages_docker/*
*.rds
*.dat
*.Rout

GDriveTokens

!packages/pkgSnapshot.txt
!packages_docker/pkgSnapshot.txt

analyses.zip
