# Ignore
cache
cache.zip
inputs/*
inputs.zip
outputs/*
.httr-oath
m/*/data
m/*/cache
m/*/*.zip
m/old
6_analysesResults*cache/
6_analysesResults*files/
global_cache/
global_files/

## don't ignore
!m/*/data/CHECKSUMS.txt

!inputs/CHECKSUMS.txt
